{% extends 'base.html' %}

{% block content %}

<h1>{{ pet.name }}</h1>

{% if pet.photo_url %}
<img class="img-fluid" src="{{ pet.photo_url }}">
{% endif %}

<h2>Update</h2>

<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden'%}
    
    <div class='form-group'>
      {{ field.label }}
      {{ field(class="form-control") }}
    
      <span>
          {% if field.errors %}
            {% for error in field.errors %}
                <b class="text-danger">{{ error }}</b>
            {% endfor %}
          {% endif %}
        </span>
    
    </div>
    
    {% endfor %}
  <button class="btn btn-primary" type="submit">Update</button>
</form>

{% endblock %}